/* Color palette */
:root{
  --orange: #F19953;
  --blue: #173A7B;
  --lightblue: #2660A4;
  --azure: #EDF7F6;
}

body {
  margin: 0px;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  border: 1px solid red;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  padding: 1rem 4rem;
}

a {
  text-decoration: none;
}

figure {
  margin: 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}

.menu {
  width: 23rem;
  align-items: center;
  justify-content: space-between;
}

.menu-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: var(--blue);
  will-change: color;
  transition: 0.2s;
  cursor: pointer;
}

.menu-link:hover {
  color: var(--orange);
}