/* Color palette */
:root {
  --orange: #f19953;
  --blue: #173a7b;
  --lightblue: #2660a4;
  --azure: #edf7f6;
}

body {
  margin: 0px;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  padding: 1rem 4rem;
}

a {
  text-decoration: none;
}

figure {
  margin: 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}

.menu {
  width: 23rem;
  align-items: center;
  justify-content: space-between;
}

.menu-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: var(--blue);
  will-change: color;
  transition: 0.2s;
  cursor: pointer;
}

.menu-link:hover {
  color: var(--orange);
}

.home-banner {
  background-color: var(--blue);
  height: 25rem;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: var(--azure);
  font-family: "Montserrat", sans-serif;
}

.home-banner-title {
  margin: 1rem 0;
  font-size: 3rem;
  font-weight: 600;
}

.home-banner-text {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  width: 42rem;
}
