/* Color palette */
:root {
  --orange: #f19953;
  --blue: #173a7b;
  --lightblue: #2660a4;
  --blue2: #486497;
  --azure: #edf7f6;
}

body {
  margin: 0px;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

header {
  width: 100%;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  padding: 1rem 4rem;
}

a {
  text-decoration: none;
}

figure {
  margin: 0;
}

footer {
  flex-shrink: 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

.container {
  width: 80vw;
  margin: 0 auto;
}

.menu {
  width: 23rem;
  align-items: center;
  justify-content: space-between;
}

.menu-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: var(--blue);
  will-change: color;
  transition: 0.2s;
  cursor: pointer;
}

.menu-link:hover,
.language:hover .menu-link,
.mobile-menu-link:hover {
  color: var(--orange);
}

.language {
  position: relative;
}

.language-menu {
  background-color: white;
  color: var(--blue);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  list-style-type: none;
  padding: 0.5rem;
  width: 6rem;
  visibility: hidden;
  position: absolute;
  z-index: 1;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.language-menu li {
  margin: 0.5rem 0.2rem;
  will-change: color;
  transition: 0.2s;
}

.language-menu li:hover {
  color: var(--orange);
}

.language:hover .language-menu {
  visibility: visible;
  cursor: pointer;
  left: 50%;
  top: 7px;
  transform: translate(-45%, 0);
}

.hamburger-menu {
  display: none;
  width: 25px;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
  transition: all 0.5s;
}

.hamburger-menu.active {
  position: fixed;
  right: 2rem;
}

.mobile-menu {
  display: none;
  height: 100vh;
  width: 75vw;
  position: fixed;
  overflow-x: hidden;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  transform: translateX(100vw);
  transition: 0.5s;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--blue);
}

.mobile-menu.active {
  transform: translateX(25vw);
}

.mobile-menu-content {
  flex: 1 0 auto;
  align-items: center;
  position: relative;
}

.mobile-menu-content figure {
  margin-top: 10vh;
}

.mobile-menu-links {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 12rem;
}

.mobile-menu-link {
  color: var(--azure);
  text-align: center;
  font-weight: 500;
  font-size: 32px;
  margin: 0.5rem 0;
  cursor: pointer;
  will-change: color;
  transition: 0.2s;
}

.mobile-menu-footer {
  flex-shrink: 0;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  color: var(--azure);
  text-align: center;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}

.overlay.active {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: var(--blue);
  margin: 2px;
  border-radius: 2px;
  transition: 0.5s;
}

.hamburger-menu.active .bar {
  background-color: var(--azure);
}

@keyframes bar1in {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(7px);
  }
  100% {
    transform: translateY(7px) rotate(45deg);
  }
}

@keyframes bar2in {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
  }
}

@keyframes bar3in {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-7px);
  }
  100% {
    transform: translateY(-7px) rotate(-45deg);
  }
}

@keyframes bar1out {
  0% {
    transform: translateY(7px) rotate(45deg);
  }
  50% {
    transform: translateY(7px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes bar2out {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bar3out {
  0% {
    transform: translateY(-7px) rotate(-45deg);
  }
  50% {
    transform: translateY(-7px);
  }
  100% {
    transform: translateY(0);
  }
}

.home-banner {
  background-color: var(--blue);
  height: 25rem;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: var(--azure);
  font-family: "Montserrat", sans-serif;
}

.home-banner-title {
  margin: 1rem 0;
  font-size: 3rem;
  font-weight: 600;
}

.home-banner-text {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  width: 42rem;
}

.module {
  padding: 3rem 0;
}

.module-title {
  color: var(--blue);
  font-family: "Montserrat";
  font-weight: bold;
  text-align: left;
  font-size: 1.5rem;
  margin: 0 0 0 1rem;
}
.module-header {
  align-items: center;
  margin-bottom: 1.5rem;
  transition: margin-bottom .25s ease-in-out;
  position: relative;
}

.triangle {
  display: none;
  position: absolute;
  top: 45%;
  right: -10px;
  transform: translate(0,-50%);
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid var(--blue);
  transition: transform .2s ease-out;
  transform: rotate(-90deg);
}

.module-activities {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 2.5rem;
  row-gap: 1.5rem;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}

.module-activities.empty-grid {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.module-header.expanded + .module-activities {
  max-height: 200vh;
}

.module-header.expanded {
  margin-bottom: 1rem;
}

.module-header.expanded .triangle{
  transform: rotate(90deg);
}

.activity {
  /* width: 24rem; */
  height: 14rem;
  position: relative;
}

.activity.short-text {
  height: 11rem;
}

.activity-title {
  color: var(--blue);
  font-family: "Roboto";
  font-weight: bold;
  font-size: 1.25rem;
  margin: 0;
  height: 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.activity-description {
  color: var(--blue2);
  font-family: "Roboto";
  font-size: 1rem;
  margin: 0.5rem 0;
  width: 22rem;
}

.line {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid var(--blue);
}

@media screen and (max-width: 1500px) {
  .activity {
    height: 15rem;
  }
}

@media screen and (max-width: 1400px) {
  .activity-description {
    width: 100%;
  }
  .activity.short-text {
    height: 11rem;
  }
}

@media screen and (max-width: 900px) {
  .activity {
    height: 16rem;
  }
  .activity.short-text {
    height: 12rem;
  }
}

@media screen and (max-width: 850px) {
  .activity {
    height: 17rem;
  }
  .activity.short-text {
    height: 13rem;
  }
}

@media screen and (max-width: 800px) {
  .module {
    padding: 1.5rem;
  }
  .module-activities {
    grid-template-columns: repeat(auto-fit, minmax(300px, 380px));
    justify-content: center;
  }
  .module-title{
    font-size: 1.1rem;
  }
  .activity-description {
    font-size: 0.8rem;
  }
  .module-header{
    margin-bottom: 0;
  }
  .module-activities.empty-grid {
    grid-template-columns: repeat(auto-fill, minmax(300px, 380px));
  }
  .activity-title{
    font-size: 1rem;
    height: auto;
  }
  .hamburger-menu {
    display: flex;
  }
  .menu {
    display: none;
  }
  .mobile-menu {
    display: flex;
  }
  header {
    padding: 1rem 2rem;
  }
  .home-banner-title {
    font-size: 3rem;
  }
  .home-banner-text {
    font-size: 1rem;
    width: 75vw;
  }
  .module-activities {
    max-height: 0px;
  }
  .line {
    border-bottom: 1px solid rgba(var(--blue), 0.6);
  }
  .activity {
    height: 10rem;
  }
  .activity.short-text {
    height: 8rem;
  }
  .triangle {
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .home-banner {
    height: 17rem;
  }
  .home-banner-title {
    font-size: 1.75rem;
  }
  .home-banner-text {
    font-size: 0.75rem;
    width: 75vw;
  }
  .container {
    width: 85vw;
  }
  .activity {
    height: 12rem;
  }
  .activity.short-text {
    height: 9rem;
  }
}

@media screen and (max-width: 400px) {
  .module-activities {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
    column-gap: 2.5rem;
    row-gap: 1.5rem;
  }
  .module-activities.empty-grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 250px));
  }
  .module-title {
    font-size: 1rem;
    margin: 0 0 0 1rem;
  }

  .activity-title {
    font-size: 0.8rem;
  }
  .activity-description {
    color: var(--blue2);
    font-family: "Roboto";
    font-size: 0.75rem;
    margin: 0.5rem 0;
    width: 220px;
  }
  .activity {
    height: 10rem;
  }
  .activity.short-text {
    height: 7rem;
  }
}
