/* Color palette */
:root {
  --orange: #f19953;
  --blue: #173a7b;
  --lightblue: #2660a4;
  --blue2: #486497;
  --azure: #edf7f6;
}

body {
  margin: 0px;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

header {
  width: 100%;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  padding: 1rem 4rem;
}

a {
  text-decoration: none;
}

figure {
  margin: 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

.container {
  width: 80vw;
  margin: 0 auto;
}

footer {
  flex-shrink: 0;
}

.menu {
  width: 23rem;
  align-items: center;
  justify-content: space-between;
}

.menu-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: var(--blue);
  will-change: color;
  transition: 0.2s;
  cursor: pointer;
}

.menu-link:hover {
  color: var(--orange);
}

.hamburger-menu {
  display: none;
  width: 50px;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
  transition: all .5s;
  cursor: pointer;
}

.hamburger-menu.active {
  position: fixed;
  right: 4rem;
}

.mobile-menu {
  display: none;
  height: 100vh;
  width: 75vw;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  transform: translateX(100vw);
  overflow-x: hidden;
  transition: 0.5s;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--blue);
}

.mobile-menu.active{
  transform: translateX(25vw);
}

.mobile-menu-link{
  color: var(--azure);
}

.overlay{
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}

.overlay.active{
  opacity: 1;
  visibility: visible;
  z-index: 1;
}

.bar{
  width: 25px;
  height: 3px;
  background-color: var(--blue);
  margin: 2px;
  border-radius: 2px;
  transition: .5s;
}

.hamburger-menu.active .bar{
  background-color: var(--azure);
}


@keyframes bar1in{
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(7px);
  }
  100%{
    transform: translateY(7px) rotate(45deg);
  }
}

@keyframes bar2in{
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0.3;
  }
  100%{
    opacity: 0;
  }
}

@keyframes bar3in{
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-7px);
  }
  100%{
    transform: translateY(-7px) rotate(-45deg);
  }
}

@keyframes bar1out{
  0%{
    transform: translateY(7px) rotate(45deg);
  }
  50%{
    transform: translateY(7px);
  }
  100%{
    transform: translateY(0);

  }
}

@keyframes bar2out{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0.7;
  }
  100%{
    opacity: 1;
  }
}

@keyframes bar3out{
  0%{
    transform: translateY(-7px) rotate(-45deg);
  }
  50%{
    transform: translateY(-7px);
  }
  100%{
    transform: translateY(0);
  }
}

.home-banner {
  background-color: var(--blue);
  height: 25rem;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: var(--azure);
  font-family: "Montserrat", sans-serif;
}

.home-banner-title {
  margin: 1rem 0;
  font-size: 3rem;
  font-weight: 600;
}

.home-banner-text {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  width: 42rem;
}

.module {
  padding: 3rem 0;
}

.module-title {
  color: var(--blue);
  font-family: "Montserrat";
  font-weight: bold;
  text-align: left;
  font-size: 1.5rem;
  margin: 0 0 0 1rem;
}
.module-header {
  align-items: center;
  margin-bottom: 1.5rem;
}

.module-activities {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2.5rem;
  row-gap: 1.5rem;
}

.activity {
  width: 24rem;
  height: 12rem;
  position: relative;
}

.activity.short-text {
  height: 8rem;
}

.activity-title {
  color: var(--blue);
  font-family: "Roboto";
  font-weight: bold;
  font-size: 1.25rem;
  margin: 0;
}

.activity-description {
  color: var(--blue2);
  font-family: "Roboto";
  font-size: 1rem;
  margin: 0.5rem 0;
  width: 22rem;
}

.line{
  border: 0; 
  height: 0; 
  border-top: 1px solid rgba(0, 0, 0, 0.1); 
  border-bottom: 1px solid var(--blue);
}


@media screen and (max-width: 767px){
  .hamburger-menu{
    display: flex;
  }
  .menu {
    display: none;
  }
  .mobile-menu {
    display: flex;
  }
}