/* Color palette */
:root {
  --orange: #f19953;
  --blue: #173a7b;
  --lightblue: #2660a4;
  --blue2: #486497;
  --azure: #edf7f6;
}

body {
  margin: 0px;
  overflow: hidden;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

header {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: linear-gradient(
    179.76deg,
    #08152d 7.05%,
    rgba(23, 58, 123, 0) 92.39%
  );
  padding: 1.5rem;
}

header .row {
  justify-content: flex-start;
  align-items: center;
}

.activity-title {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 2rem;
  color: white;
  margin: 0 0 0 1rem;
}

figure {
  margin: 0;
}

.selection-menu {
  position: fixed;
  z-index: 1;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  width: 25.5rem;
  height: 2.5rem;
  background: rgba(23, 58, 123, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.8);
  box-sizing: border-box;
  border-radius: 4px;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;
}

.orbital-selector {
  width: 150px;
  height: 28px;
  margin-left: 0.25rem;
  font-family: "Roboto";
  font-size: 0.7rem;
  border-radius: 0.25rem;
  padding: 0.25rem;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: white;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position: top 0.1rem right 0;
}

.orbital-selector optgroup{
  font-family: "Roboto";
  font-style: normal;
  font-size: 0.7rem;
}

@media screen and (max-width: 630px) {
  .selection-menu {
    width: 18rem;
  }

  .orbital-selector {
    width: 90px; 
  }

}

@media screen and (max-width: 450px) {
  .selection-menu {
    width: 15rem;
  }

  .orbital-selector {
    width: 70px;
    font-size: 0.6rem;
  }

  .orbital-selector optgroup{
    font-size: 0.6rem;
  }
}

@media screen and (max-width: 400px) {
  .selection-menu {
    width: 13rem;
  }

  .orbital-selector {
    width: 50px;
  }
}

@media screen and (max-width: 350px) {
  .selection-menu {
    width: 11rem;
  }

  .orbital-selector {
    width: 45px;
    height: 25px;
  }
  .marker-sample {
    width: 25px;
  }
}

@media screen and (max-width: 768px) {
  .activity-title {
    font-size: 1.5rem;
  }
}


@media screen and (max-width: 600px) {
  .activity-title {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 500px) {
  .activity-title {
    font-size: 1rem;
    margin-left: 0.5rem;
  }
  header {
    padding: 0.5rem;
    height: 60px;
  }
}

@media screen and (max-width: 400px) {
  .activity-title {
    font-size: 0.75rem;
    margin-left: 0.5rem;
  }
}

@media (min-width: 440px) {
  canvas {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
  }
  video {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
  }
}
