body {
  margin: 0px;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

header {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: linear-gradient(
    179.76deg,
    #1c1447 -10.84%,
    rgba(92, 69, 235, 0) 94.12%
  );
  padding: 1.5rem;
}

header .row {
  justify-content: flex-start;
  align-items: center;
}

.activity-title {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 2rem;
  color: white;
  margin: 0 0 0 1rem;
}

figure {
  margin: 0;
}

.side-menu {
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 50%;
  right: 3px;
  transform: translateY(-50%);
  z-index: 2;
  background-color: var(--primarylight);
  border-radius: 10px;
  padding: 1rem 0.75rem;
}

.icon-margin {
  margin-bottom: 0.5rem;
}

.small-icon-margin {
  margin: 0 auto;
}

.small-icon-margin-bottom {
  margin-bottom: 6px;
}

.icon-margin:last-child {
  margin: 0;
}

.selection-menu {
  padding: 0.75rem;
  position: fixed;
  bottom: 7px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  background: var(--primarylight);
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.marker {
  display: flex;
  align-items: center;
}

.marker-sample {
  width: 36px;
  height: 36px;
}

.left-margin {
  margin-left: 0.5rem;
}

.right-margin {
  margin-right: 0.5rem;
}

.select-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.select-container.row {
  flex-direction: row;
}

.orbital-selector {
  width: 163px;
  height: 22px;
  margin: 0 0.5rem;
  font-family: "Roboto";
  font-size: 0.6rem;
  border-radius: 0.25rem;
  padding: 0.25rem;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: white;
  background-image: url("/assets/img/arrow-select.png");
  background-repeat: no-repeat;
  background-position: top 0.5rem right 0.2rem;
}

.bottom-margin {
  margin-bottom: 0.25rem;
}

.orbital-selector optgroup {
  font-family: "Roboto";
  font-style: normal;
  font-size: 0.6rem;
}

.line {
  width: 2px;
  height: 36px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 1px;
  margin: 0 8px;
}

.line.horizontal {
  width: 30px;
  height: 2px;
  margin: 14px auto;
}

.line.horizontal.long {
  width: 100%;
  margin: 12px 0;
}

.extra-info {
  display: flex;
  align-items: center;
}

.extra-info-icon {
  margin-left: 0.5rem;
}

.options {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.options.touch {
  display: none;
  position: absolute;
  bottom: calc(100% + 0.25rem);
  background: var(--primarylight);
  border-radius: 10px;
  padding: 0.5rem;
  box-sizing: border-box;
}

.options.touch.row {
  transform: translateX(-65px);
}

.options.touch.active {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gesture-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.triangle {
  display: none;
  position: absolute;
  top: 93%;
  left: 10px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid var(--primarylight);
  transform: rotate(90deg);
}

.options.touch.active .triangle {
  display: block;
}

.options.touch.row .triangle {
  transform: translateX(65px) rotate(90deg);
}

.rotation-controls {
  position: fixed;
  bottom: 71px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  width: 540px;
  display: flex;
}

.rotation-controls.multiple-select {
  bottom: 83px;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 0 0.25rem 0 0.25rem;
}

.toggle-btn {
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  padding: 0.3rem 0.5rem;
  border-radius: 0.25rem;
  color: var(--primary);
  border-style: none;
  border-width: 0;
  outline: none;
  -webkit-appearance: button;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  margin: 0 0.25rem;
  transition: background-color 0.2s;
}

.toggle-btn.active {
  background-color: var(--secondary);
}

.toggle-btn.align-left {
  align-self: flex-start;
  margin-left: 0.5rem;
}

.hide {
  display: none;
}

.modeling-container {
  position: fixed;
  top: 50%;
  right: 76px;
  transform: translateY(-55%);
  z-index: 1;
  background-color: var(--primarylight);
  border-radius: 10px;
  width: 433px;
  padding: 1.5rem 1rem;
}

.triangle-mk {
  position: absolute;
  top: 50%;
  right: -9px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid var(--primarylight);
  transform: translateY(-50%);
}

.close-menu {
  position: relative;
  top: -13px;
  right: -97%;
  cursor: pointer;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bar-1 {
  position: absolute;
  width: 14.87px;
  height: 2.7px;
  background: #ffffff;
  border-radius: 16px;
  transform: rotate(45deg);
}

.bar-2 {
  position: absolute;
  width: 14.87px;
  height: 2.7px;
  background: #ffffff;
  border-radius: 16px;
  transform: rotate(-45deg);
}

.marker-options-container {
  justify-content: flex-start;
  padding: 0;
  margin: 1.5rem 0;
}

.modeling-info {
  border: 2px solid #ffffff;
  border-radius: 10px;
  padding: 1rem 0.75rem;
  margin-top: 15px;
}

.modeling-info p {
  margin: 0;
}

.modeling-instructions {
  font-family: "Roboto";
  color: #ffffff;
  font-size: 1rem;
  text-align: left;
  margin-left: 0.75rem !important;
}

.modeling-options {
  margin: 1.5rem 0;
}


.modeling-marker-options:first-of-type {
  margin-right: 1.5rem;
}

.modeling-marker-options p {
  font-family: "Roboto";
  color: var(--lightergray);
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 0.25rem 0;
  cursor: pointer;
  transition: 0.25s;
}

.modeling-marker-options p.selected {
  color: #ffffff;
}

.modeling-marker-options a {
  font-family: "Roboto";
  color: var(--secondary);
  font-size: 12px;
  white-space: nowrap;
}

.pdb-subtitle {
  font-family: "Roboto";
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  margin: 0 0 0.5rem 0;
  align-self: flex-start;
}

.pdb-load {
  margin-right: 25px;
}

.pdb-option {
  font-family: "Roboto";
  color: #ffffff;
  font-size: 12px;
  margin: 0 0 0.5rem 0;
  white-space: nowrap;
}

.pdb-btn {
  background-color: #ffffff;
  color: var(--primary);
  padding: 3px 22px;
  border-radius: 6px;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
}

button.pdb-btn {
  border: none;
  outline: none;
}

.pdb-selector {
  width: 100%;
  height: 20px;
  margin: 0;
  font-family: "Roboto";
  font-size: 0.6rem;
  border-radius: 0.25rem;
  border: none;
  outline: none;
  padding: 0.25rem;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: white;
  background-image: url("/assets/img/arrow-select.png");
  background-repeat: no-repeat;
  background-position: top 0.5rem right 0.2rem;
}

.pdb-selector option {
  /* font-family: "Roboto"; */
  font-style: normal;
  font-size: 0.6rem;
}

.pdb-text {
  width: 100%;
  border: none;
  outline: none;
  padding: 0.25rem;
  box-sizing: border-box;
  resize: none;
  font-family: "Roboto";
  font-size: 12px;
}

.btn-primary {
  margin: 1.5rem auto 0 auto;
  display: block;
  padding: 5px 24px;
  background: var(--secondary);
  border-radius: 6px;
  color: var(--primary);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  border: none;
  outline: none;
}

.btn-primary:active {
  transform: scale(0.95);
}

.btn-primary.no-margin {
  margin: 0;
}

.btn-primary.big {
  font-size: 16px;
  padding: 8px 24px;
}

.btn-primary:disabled {
  transform: scale(1);
}

.btn-primary.search{
  min-width: 153.033px;
}

.swal-button,
.swal-button:not([disabled]):hover {
  background-color: var(--secondary);
  color: var(--primary);
}

.temp-box {
  color: #ffffff;
  font-family: "Roboto";
  margin-right: 0.5rem;
}

.temp {
  margin: 0;
  width: 36px;
  text-align: right;
}

.temp-title {
  margin: 0 1rem 0 0;
  font-size: 1rem;
  font-weight: bold;
}

.temp-controls,
.type-controls {
  margin: 0 0.5rem;
}

.type-selector {
  width: 70px;
  height: 20px;
  margin: 0;
  font-family: "Roboto";
  font-size: 0.6rem;
  border-radius: 0.25rem;
  border: none;
  outline: none;
  padding: 0.25rem;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: white;
  background-image: url("/assets/img/arrow-select.png");
  background-repeat: no-repeat;
  background-position: top 0.5rem right 0.2rem;
}

.camera-container {
  position: fixed;
  top: 50%;
  right: 76px;
  transform: translateY(-188%);
  z-index: 1;
  background-color: var(--primarylight);
  border-radius: 10px;
  padding: 0.75rem 0.5rem;
}

/* .camera-container.multiple-cams {
  transform: translateY(-62%);
} */

.camera-container.small-menu {
  transform: translateY(-121%);
}

.camera-container.small-menu.multiple-cams-single {
  transform: translateY(-103%);
}

.camera-container.mk.multiple-cams {
  transform: translateY(-164%);
}

.zoom-container {
  position: fixed;
  top: 50%;
  right: 76px;
  transform: translateY(-27%);
  z-index: 1;
  background-color: var(--primarylight);
  border-radius: 10px;
  padding: 0.75rem 0.5rem;
}

.zoom-container.small-menu {
  transform: translateY(-27%);
}

/* .zoom-container.small-menu.multiple-cams-single {
  transform: translateY(21%);
} */

.temperature-container {
  position: absolute;
  top: 50%;
  right: calc(100% + 6px);
  transform: translateY(-50%);
  z-index: 1;
  background-color: var(--primarylight);
  border-radius: 10px;
  padding: 0.75rem 0.5rem;
}

.temperature-container.single-menu {
  transform: translateY(-30%);
}

.triangle-temp {
  position: absolute;
  top: 50%;
  right: -9px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid var(--primarylight);
  transform: translateY(-50%);
}

.interaction-controls {
  position: fixed;
  top: 50%;
  right: 76px;
  transform: translateY(-77%);
  z-index: 1;
  background-color: var(--primarylight);
  border-radius: 10px;
  padding: 0.75rem 0.5rem;
  justify-content: center;
  align-items: center;
}

.interaction-controls.single-menu {
  transform: translateY(-88%);
}

.interaction-control {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.25rem;
}

.interaction-control.no-margin {
  margin-bottom: 0;
}

.interaction-control-title {
  font-family: "Roboto";
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  margin: 0 0 0.5rem 0;
  align-self: flex-start;
}

.interaction-control p {
  font-family: "Roboto";
  color: #ffffff;
  font-size: 14px;
  text-align: left;
  margin: 0 0 0 0;
}

.switch {
  position: relative;
  display: inline-block;
  margin-left: 0.8rem;
}
.switch-input {
  display: none;
}
.switch-label {
  display: block;
  width: 24px;
  height: 14px;
  text-indent: -150%;
  clip: rect(0 0 0 0);
  color: transparent;
  user-select: none;
}
.switch-label::before,
.switch-label::after {
  content: "";
  display: block;
  position: absolute;
  cursor: pointer;
}
.switch-label::before {
  width: 24px;
  height: 14px;
  background-color: #dedede;
  border-radius: 9999em;
  -webkit-transition: background-color 0.1s ease;
  transition: background-color 0.1s ease;
}
.switch-label::after {
  top: 2px;
  left: 2px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--primary);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.45);
  -webkit-transition: left 0.1s ease;
  transition: left 0.1s ease;
}
.switch-input:checked + .switch-label::before {
  background-color: var(--secondary);
}
.switch-input:checked + .switch-label::after {
  left: 12px;
}

.chart-container {
  position: fixed;
  bottom: 0;
  right: 0;
  /* transform: translateY(-77%); */
  z-index: 1;
  width: 400px;
  height: 240px;
  background-color: azure;
}

.chart {
  width: 400px;
  height: 225px;
}

.overlay {
  background-color: rgba(23, 58, 123, 0.6);
  backdrop-filter: blur(14px);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s ease-in;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.overlay.active {
  opacity: 1;
  visibility: visible;
}

.jsme-container {
  margin: 0 auto;
  border-radius: 20px;
  width: 600px;
  height: 600px;
  background-color: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
}

.jsme-close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  width: 25px;
  height: 25px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.jsme-bar-1 {
  width: 20px;
  height: 5px;
  background: var(--secondary);
  border-radius: 10px;
  transform: rotate(45deg);
}

.jsme-bar-2 {
  width: 20px;
  height: 5px;
  background: var(--secondary);
  border-radius: 10px;
  transform: translateY(-5px) rotate(-45deg);
}

.jsme-container.out {
  animation: animationOut 0.5s forwards;
}

.jsme-container.in {
  animation: animationIn 0.5s forwards;
}

.jme-instructions {
  font-family: "Roboto";
  color: var(--primary);
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
  width: 500px;
}

.jme-search {
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.jme-search .btn-primary{
  white-space: nowrap;
}

.jme-input {
  margin: 0 8px;
  padding: 4px;
  border: 3px solid var(--primary);
  border-radius: 10px;
  resize: none;
  outline: none;
  min-width: 80px;
  max-width: 150px;
  font-family: Roboto;
  color: var(--primary);
  font-size: 14px;
}

.jme-input::placeholder {
  color: var(--primarylight);
  font-size: 14px;
  font-family: Roboto;
}

.jme-btns {
  margin-top: 2rem;
  width: 300px;
  justify-content: space-between;
}

.jme-editor {
  width: 500px;
  height: 300px;
}

@keyframes animationIn {
  0% {
    transform: translateY(-3000px);
  }
  60% {
    transform: translateY(25px);
  }
  75% {
    transform: translateY(-10px);
  }
  90% {
    transform: translateY(5px);
  }
}

@keyframes animationOut {
  0% {
    transform: translateY(0);
  }

  30% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(-3000px);
  }
}

.snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  text-align: center;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-weight: 700;
  padding: 5px 24px;
  background: var(--secondary);
  border-radius: 6px;
  color: var(--primary);
  font-family: "Roboto", sans-serif;
}

.snackbar.show {
  visibility: visible;
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@media screen and (max-width: 768px) {
  .modeling-container {
    width: 55vw;
  }

  .pdb-btn {
    padding: 3px 16px;
  }

  .pdb-load {
    margin-right: 20px;
  }

  .chart-container {
    display: none;
  }

  #copy-coords,
  .interaction-control.ani {
    display: none;
  }

  .interaction-control.clashes {
    margin-bottom: 0;
  }

}

@media screen and (max-width: 680px) {
  .modeling-info p {
    font-size: 0.8rem;
  }

  .modeling-marker-options p {
    font-size: 1rem;
    margin: 0 0 0.25rem 0;
  }

  .pdb-option {
    font-size: 10px;
  }

  .upload-pdb {
    padding: 3px 22px;
    font-size: 10px;
  }

  .pdb-selector {
    font-size: 10px;
  }

  .pdb-text {
    height: 120px;
    font-size: 10px;
  }

  .modeling-container {
    width: 60vw;
  }

  .modeling-info {
    padding: 0.75rem 0.5rem;
    margin-top: 10px;
  }

  .modeling-options {
    margin: 1rem 0;
  }

  .btn-primary {
    margin-top: 1rem;
  }

  .jsme-container {
    width: 80vw;
    height: 80vw;
    padding: 1rem;
  }

  .jme-instructions {
    width: 80%;
  }

  .jme-editor {
    width: 95%;
    height: 100%;
  }
}

@media screen and (max-width: 630px) {
  .orbital-selector {
    width: 90px;
  }

  .jme-instructions {
    font-size: 14px;
  }

  .jme-input {
    width: 100px;
  }

  .jme-search .btn-primary {
    font-size: 14px;
    padding: 8px 16px;
  }

  .btn-primary.big {
    font-size: 14px;
    padding: 8px 16px;
  }
}

@media screen and (max-width: 570px) {
  .jme-editor {
    width: 100%;
    height: 300px;
  }

  .jsme-container {
    width: 80vw;
    height: 464px;
    padding: 1rem;
  }

  .jme-search,
  .jme-btns {
    justify-content: space-around;
    width: 100%;
  }

  .jme-input {
    margin: 0;
  }

  .jme-instructions,
  .jme-search {
    margin-bottom: 1rem;
  }

  .jme-btns {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 500px) {
  .pdb-selector {
    width: 90px;
  }

  .pdb-load {
    margin-right: 15px;
  }

  .modeling-marker-options p {
    font-size: 12px;
  }

  .modeling-marker-options a {
    font-size: 10px;
  }

  .pdb-subtitle {
    font-size: 12px;
  }

  .pdb-btn {
    padding: 3px 14px;
    font-size: 12px;
  }
}

@media screen and (max-width: 450px) {
  .selection-menu {
    padding: 0.5rem;
    bottom: 5px;
    transform: translateX(-50%);
  }

  .camera-container.mk.multiple-cams {
    transform: translateY(-171%);
  }

  .marker-sample.left-margin {
    margin-left: 0;
  }

  .line {
    height: 20px;
  }

  .orbital-selector {
    width: 100px;
    font-size: 0.5rem;
    margin: 0 0.25rem;
  }

  .orbital-selector.bottom-margin {
    margin-bottom: 0.25rem;
  }

  .orbital-selector optgroup {
    font-size: 0.5rem;
  }

  .marker-sample {
    width: 25px;
    height: 25px;
  }

  .extra-info-icon {
    margin-left: 0.25rem;
  }

  .marker-sample.left-margin {
    margin-left: 0.25rem;
  }

  .side-menu {
    padding: 0.75rem 0.5rem;
  }

  .modeling-container {
    width: 65vw;
  }

  .zoom-container,
  .camera-container,
  .modeling-container,
  .interaction-controls {
    right: 58px;
  }

  .temperature-container {
    padding: 0.5rem 0.5rem;
    transform: translateY(-52%);;
  }

  .modeling-container {
    transform: translateY(-54%);
  }
  /* .temperature-container.multiple-cams {
    transform: translateY(-58%);
  } */
  .temp-controls {
    margin: 0;
  }

  .zoom-container {
    transform: translateY(-27%);
    padding: 0.5rem 0.5rem;
  }

  .camera-container {
    transform: translateY(-198%);
    padding: 0.5rem 0.5rem;
  }

  .modeling-options-btns {
    flex-wrap: wrap;
  }

  .pdb-selector {
    width: 100%;
  }

  .upload-pdb {
    padding: 3px 15px;
  }

  .pdb-load {
    margin-right: 10px;
  }

  .pdb-text {
    margin-top: 8px;
    height: 80px;
    width: 100%;
  }

  .pdb-load:first-of-type {
    margin-right: 12px;
    margin-bottom: 8px;
  }

  .pdb-select {
    margin-top: 8px;
  }

  .marker-options-container,
  .modeling-options {
    margin: 0.75rem 0;
  }

  .interaction-controls {
    transform: translateY(-73%);
    padding: 0.5rem 0.5rem;
  }

  .interaction-control {
    margin-bottom: 0.75rem;
  }

  .interaction-control-title {
    font-size: 12px;
    margin: 0 0 0.5rem 0;
  }
  
  .interaction-control p {
    font-size: 12px;
    margin: 0 0 0 0;
  }

  .jme-editor {
    width: 100%;
    height: 300px;
  }

  .jsme-container {
    width: 95vw;
    height: 464px;
    padding: 1rem 0.25rem;
  }
}

@media screen and (max-width: 350px) {
  .orbital-selector {
    /* width: 45px; */
    height: 25px;
  }

  .extra-info-icon {
    margin-left: 0.2rem;
  }

  .marker-sample.left-margin {
    margin-left: 0.2rem;
  }

  .orbital-selector {
    margin: 0 0.2rem;
  }

  .line {
    margin: 0 0.2rem;
  }

  .pdb-selector {
    font-size: 0.5rem;
  }

  .upload-pdb {
    padding: 3px 12px;
    font-size: 0.5rem;
  }

  .pdb-load {
    margin-right: 8px;
  }

  .modeling-marker-options {
    margin-right: 10px;
  }

  .modeling-marker-options p {
    font-size: 10px;
    margin-bottom: 10px;
  }

  .modeling-marker-options a {
    font-size: 10px;
  }
  
  .pdb-text {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .activity-title {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 600px) {
  .activity-title {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 500px) {
  .activity-title {
    font-size: 1rem;
    margin-left: 0.5rem;
  }

  header {
    padding: 0.5rem;
    height: 60px;
  }
}

@media screen and (max-width: 768px) {
  .activity-title {
    font-size: 0.75rem;
    margin-left: 0.5rem;
  }
}

/* flip styles */
.flip {
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

@media (min-width: 768px) {
  canvas {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
  }

  video {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
  }

  .flip {
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

/* Landscape styles */
@media screen and (max-height: 450px) and (orientation: landscape) {
  .activity-title {
    font-size: 0.75rem;
    margin-left: 0.5rem;
  }

  header {
    padding: 0.5rem;
    height: 50px;
  }

  .selection-menu {
    padding: 0.5rem;
    bottom: 5px;
    transform: translateX(-50%);
  }

  .marker-sample.left-margin {
    margin-left: 0;
  }

  .line {
    height: 20px;
  }

  .orbital-selector {
    width: 100px;
    font-size: 0.5rem;
    margin: 0 0.25rem;
  }

  .orbital-selector.bottom-margin {
    margin-bottom: 0.25rem;
  }

  .orbital-selector optgroup {
    font-size: 0.5rem;
  }

  .marker-sample {
    width: 25px;
    height: 25px;
  }

  .extra-info-icon {
    margin-left: 0.25rem;
  }

  .marker-sample.left-margin {
    margin-left: 0.25rem;
  }

  .icon-margin {
    margin-bottom: 0.2rem;
  }

  .side-menu {
    padding: 0.75rem 0.5rem;
  }

  .zoom-container,
  .camera-container,
  .interaction-controls,
  .modeling-container {
    right: 56px;
  }

  .interaction-controls {
    transform: translateY(-50%);
    padding: 0.5rem 0.5rem;
  }

  .interaction-controls .triangle-temp {
    transform: translateY(-310%);
  }

  .interaction-control {
    margin-bottom: 0.5rem;
  }

  .interaction-control-title {
    font-size: 12px;
    margin: 0 0 0.5rem 0;
  }
  
  .interaction-control p {
    font-size: 12px;
    margin: 0 0 0 0;
  }

  .temperature-container {
    padding: 0.5rem 0.5rem;
    transform: translateY(-60%);
  }

  .camera-container {
    padding: 0.5rem 0.5rem;
    transform: translateY(-64%);
  }

  .camera-container.mk {
    transform: translateY(-174%);
  }

  .camera-container.mk .triangle-temp {
    transform: translateY(-114%);
  }

  .camera-container.mk.multiple-cams {
    transform: translateY(-147%);
  }

  .camera-container.mk.multiple-cams .triangle-temp {
    transform: translateY(-114%);
  }

  .temp-controls {
    margin: 0;
  }

  .zoom-container {
    transform: translateY(48%);
    padding: 0.5rem 0.5rem;
  }

  .zoom-container.mk {
    transform: translateY(-25%);
  }

  .temperature-container .triangle-temp {
    transform: translateY(-300%);
  }

  canvas {
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  video {
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  .flip {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
  }

  .line.horizontal {
    margin: 8px auto;
  }

  .modeling-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0.5rem 0.75rem;
    width: 440px;
    transform: translateY(-48%);
  }

  .pdb-subtitle {
    font-size: 12px;
  }

  .pdb-option {
    font-size: 10px;
    margin-bottom: 0.25rem;
  }

  .pdb-btn {
    padding: 3px 14px;
    font-size: 10px;
  }

  .modeling-info p {
    font-size: 0.8rem;
  }

  .triangle-mk {
    transform: translateY(-160%);
  }

  .modeling-info {
    padding: 0.75rem 0.5rem;
    margin-top: 0px;
  }

  .marker-options-container,
  .modeling-options {
    margin: 0.75rem 0;
  }

  .modeling-marker-options p {
    font-size: 14px;
    margin: 0 0 0.25rem 0;
  }

  .modeling-marker-options a {
    padding-top: 4px;
    font-size: 10px;
  }

  .pdb-text {
    display: none;
  }

  .close-menu {
    display: none;
  }

  .hide {
    display: none;
  }

  .btn-primary {
    margin: 0.25rem auto 0 auto;
    padding: 5px 12px;
    font-size: 12px;
  }

  .jsme-container {
    width: 95vw;
    height: 80vh;
    padding: 0.5rem 0.25rem;
  }

  .jme-instructions,
  .jme-search {
    margin-bottom: 0.75rem;
  }

  .jme-btns {
    margin-top: 0.5rem;
  }

  .jme-instructions {
    font-size: 12px;
    margin-top: 0;
  }

  .jme-editor {
    /* width: 100%; */
    height: 180px;
  }

  .jme-input {
    font-size: 12px;
  }

  .btn-primary.big {
    font-size: 12px;
    padding: 8px 14px;
  }
}
