body {
  margin: 0px;
  overflow: hidden;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: linear-gradient(
    179.76deg,
    #08152d 7.05%,
    rgba(23, 58, 123, 0) 92.39%
  );
  padding: 1.5rem;
}

header .row {
  justify-content: flex-start;
  align-items: center;
}

.activity-title {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 2rem;
  color: white;
  margin: 0 0 0 1rem;
}

figure {
  margin: 0;
}


@media screen and (max-width: 768px) {
  .activity-title {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 600px) {
  .activity-title {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 500px) {
  .activity-title {
    font-size: 1rem;
    margin-left: 0.5rem;
  }
  header {
    padding: 0.5rem;
    height: 60px;
  }
}

@media screen and (max-width: 400px) {
  .activity-title {
    font-size: 0.75rem;
    margin-left: 0.5rem;
  }
}

@media (min-width: 400px) {
  canvas {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
  }
  video {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
  }
}
