@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
  }
}

h4 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: var(--primary);
  margin: 24px 0;
}

textarea {
  margin: 8px 16px;
  padding: 16px;
  border: 3px solid var(--primary);
  border-radius: 10px;
  resize: none;
  outline: none;
  min-width: 189px;
  max-width: 600px;
  font-family: Roboto;
  color: var(--primary);
  font-size: 14px;
}

textarea:focus,
.text-input:focus {
  box-shadow: 0px 0px 6px 2px var(--primary);
}

textarea::placeholder,
.text-input::placeholder {
  color: var(--primarylight);
  font-size: 14px;
  font-family: Roboto;
}

textarea.pdb-text {
  padding: 8px;
  width: 100%;
  color: black;
  margin: 0 0 1.5rem 0;
}

textarea.pdb-text:focus,
.text-input:focus {
  box-shadow: 0px 0px 6px 1px var(--primary);
}

.hi-container {
  margin-top: 2rem;
}

.text-input {
  margin: 8px 16px;
  padding: 16px;
  border: 3px solid var(--primary);
  border-radius: 10px;
  resize: none;
  outline: none;
  min-width: 150px;
  max-width: 200px;
  font-family: Roboto;
  color: var(--primary);
  font-size: 14px;
}

.label-textarea {
  padding-left: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: var(--primarylight);
}

.normal-text,
.about-text {
  color: var(--primary);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

.survey-container {
  width: 900px;
  margin: 0 auto;
}

.question-container {
  display: flex;
  flex-direction: column;
}

.question {
  margin-top: 56px;
}

.answers-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.answer {
  display: flex;
  align-items: center;
  min-width: 189px;
  max-width: 600px;
  width: fit-content;
  width: -moz-fit-content;
  height: 40px;
  background-color: #ffffff;
  padding: 16px 12px;
  box-sizing: border-box;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  margin: 8px;
  cursor: pointer;
  transition: all 0.2s;
}

.answer:hover {
  background-color: var(--primary);
}

.answer:hover .radio-btn {
  border: 1px solid #ffffff;
  background-color: var(--primary);
}

.answer:hover .normal-text {
  color: white;
}

.answer.is-selected {
  background-color: var(--primary);
}

.answer.is-selected .normal-text {
  color: white;
}

.radio-btn {
  width: 16px;
  height: 16px;
  border: 1px solid var(--primary);
  border-radius: 50%;
  margin: 0;
  margin-right: 8px;
}

.radio-btn:checked {
  border: 3px solid var(--primary);
  background-color: #ffffff;
  box-shadow: 0 0 0px 1px rgb(255, 255, 255);
}

.radio-btn:focus {
  outline: none;
  /* box-shadow: 0 0 0px 2px var(--secondary); */
}

.radio-btn:checked:hover {
  border: 3px solid var(--primary);
  background-color: #ffffff;
  box-shadow: 0 0 0px 1px #ffffff;
}

.submit-btn {
  display: block;
  border-radius: 6px;
  border-style: none;
  border-width: 0;
  outline: none;
  cursor: pointer;
  -webkit-appearance: button;
  padding: 1rem 3rem;
  background-color: var(--secondary);
  color: var(--primary);
  font-family: "Roboto";
  font-weight: bold;
  font-size: 24px;
  margin: 3rem auto;
}

.submit-btn:enabled:active {
  transform: scale(0.9);
}

.submit-btn:disabled {
  opacity: 0.7;
}

.hidden {
  display: none;
}

@media screen and (max-width: 1060px) {
  .survey-container {
    width: 75vw;
  }
}

@media screen and (max-width: 800px) {
  h4 {
    font-size: 20px;
    line-height: 25px;
    margin: 20px 0;
  }
  .submit-btn {
    font-size: 20px;
    padding: 1rem 2.5rem;
  }

  .answer {
    /* min-height: 40px;
    height: auto; */
    padding: 14px 12px;
  }

  label .normal-text {
    font-size: 14px;
    line-height: 16px;
  }
}

@media screen and (max-width: 450px) {
  h4 {
    font-size: 16px;
    line-height: 20px;
    margin: 14px 0;
  }
  .submit-btn {
    font-size: 16px;
    padding: 1rem 2rem;
  }

  .answer {
    padding: 12px 10px;
  }

  .normal-text,
  .label-textarea {
    font-size: 14px;
    line-height: 16px;
  }

  label .normal-text {
    font-size: 12px;
    line-height: 14px;
  }
  .radio-btn {
    width: 12px;
    height: 12px;
  }
  .question {
    margin-top: 32px;
  }
}

@media screen and (max-width: 400px) {
  h4 {
    font-size: 14px;
    line-height: 16px;
    margin: 12px 0;
  }

  .answer {
    padding: 12px 10px;
  }

  .submit-btn {
    font-size: 14px;
    padding: 1rem 1.8rem;
  }

  .normal-text,
  .label-textarea {
    font-size: 10px;
    line-height: 12px;
  }

  label .normal-text {
    font-size: 10px;
    line-height: 12px;
  }
  .radio-btn {
    width: 10px;
    height: 10px;
  }
  .question {
    margin-top: 24px;
  }
}

.swal-button,
.swal-button:not([disabled]):hover {
  background-color: var(--secondary);
  color: var(--primary);
}

.margins {
  margin: 2rem auto;
}

.contact-margins {
  margin: 4rem auto;
}

.authors-container {
  margin-top: 2rem;
}

.authors-container .about-text {
  margin: 0.5rem 0;
}

.authors-container .title {
  margin: 1.5rem 0 0.75rem 0;
  font-weight: bold;
}

.social-icon-margin {
  margin-right: 1rem;
}

.author-margin {
  margin-top: 1.5rem !important;
}
