body {
  margin: 0px;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  background-color: var(--lightergray);
}

a {
  text-decoration: none;
}

figure {
  margin: 0;
}

footer {
  flex-shrink: 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

.container {
  width: 80vw;
  margin: 0 auto;
}

.home-banner {
  background: linear-gradient(149.14deg, #4432B0 0%, #5C45EB 100%);
  border-radius: 0px 0px 20px 20px;
  height: 25rem;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
}

.home-banner-title {
  margin: 1rem 0;
  font-size: 3rem;
  font-weight: 600;
}

.home-banner-text {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  width: 42rem;
}

.module {
  padding: 3rem 0;
}

.module-title {
  color: var(--primary);
  font-family: "Montserrat";
  font-weight: bold;
  text-align: left;
  font-size: 1.5rem;
  margin: 0 0 0 1rem;
}
.module-header {
  align-items: center;
  margin-bottom: 1.5rem;
  transition: margin-bottom 0.25s ease-in-out;
  position: relative;
}

.triangle {
  display: none;
  position: absolute;
  top: 45%;
  right: -10px;
  transform: translate(0, -50%);
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid var(--primary);
  transition: transform 0.2s ease-out;
  transform: rotate(-90deg);
}

.module-activities {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 2.5rem;
  row-gap: 1.5rem;
  overflow: hidden;
  transition: max-height 0.25s ease-in-out;
  padding: 0.5rem;
}

.module-activities.empty-grid {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.activity {
  /* width: 24rem; */
  height: 14rem;
  position: relative;
  background-color: #FFFFFF;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  padding: 1rem;
}

.arrow-anchor {
  position: absolute;
  bottom: 0.5rem;
  right: 2rem;
  transition: transform 0.2s;
}

.arrow-path {
  transition: 0.2s;
  fill: var(--primary);
}
.circle {
  transition: 0.2s;
  fill: var(--secondary);
}
.activity:hover .arrow-path{
  fill: #FFFFFF;
}
.activity:hover .circle{
  fill: var(--primary);
}
.activity:hover .arrow-anchor {
  transform: translateX(6px);
}

@media screen and (max-width: 450px) {
  .arrow-anchor {
    width: 25px;
    height: 25px;
  }
}

.activity.short-text {
  height: 11rem;
}

.activity-title {
  color: var(--primary);
  font-family: "Roboto";
  font-weight: bold;
  font-size: 1.25rem;
  margin: 0;
  height: 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.activity-description {
  color: var(--lightgray);
  font-family: "Roboto";
  font-size: 1rem;
  margin: 0.5rem 0;
}

.line {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid var(--primary);
}

.policy-banner {
  background-color: var(--primary);
  color: #FFFFFF;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 2rem;
  align-items: center;
  justify-content: center;
}

.policy-banner a{
  text-decoration: underline;
  color: #FFFFFF;
}

.policy-banner button {
  border-radius: 6px;
  border-style: none;
  border-width: 0;
  outline: none;
  cursor: pointer;
  -webkit-appearance: button;
  padding: 0.5rem 0.8rem;
  background-color: var(--secondary);
  color: var(--primary);
  font-family: "Roboto";
  font-weight: bold;
  margin-left: 1rem;
}

.policy-banner button:enabled:active {
  transform: scale(0.9);
}

.hidden {
  display: none;
}

@media screen and (max-width: 1500px) {
  .activity {
    height: 15rem;
  }
  .activity-description {
    width: 100%;
  }
}

@media screen and (max-width: 1400px) {
  .activity.short-text {
    height: 11rem;
  }
}

@media screen and (max-width: 1200px) {
  .activity {
    height: 12rem;
  }
}

@media screen and (max-width: 1100px) {
  .activity {
    height: 13rem;
  }
}

@media screen and (max-width: 1000px) {
  .activity {
    height: 14rem;
  }
  .policy-banner,
  .policy-banner button {
    font-size: 14px;
  }
}

@media screen and (max-width: 900px) {
  .activity {
    height: 16rem;
  }
  .activity.short-text {
    height: 12rem;
  }
  .policy-banner,
  .policy-banner button {
    font-size: 12px;
  }
  .policy-banner button {
    padding: 0.2rem 0.6rem;
  }
}

@media screen and (max-width: 850px) {
  .activity {
    height: 17rem;
  }
  .activity.short-text {
    height: 13rem;
  }
}

@media screen and (max-width: 800px) {
  .module {
    padding: 1.5rem;
  }
  .module-activities {
    grid-template-columns: repeat(auto-fit, minmax(300px, 380px));
    justify-content: center;
    padding: 0;
  }
  .module-title {
    font-size: 1.1rem;
  }
  .activity-description {
    font-size: 0.8rem;
  }
  .module-header {
    margin-bottom: 0;
  }
  .module-activities.empty-grid {
    grid-template-columns: repeat(auto-fill, minmax(300px, 380px));
  }
  .activity-title {
    font-size: 1rem;
    height: auto;
  }

  .module-header.expanded + .module-activities {
    max-height: 200vh;
    padding: 0.75rem 0;
  }
  
  .module-header.expanded {
    margin-bottom: 1rem;
  }
  
  .module-header.expanded .triangle {
    transform: rotate(90deg);
  }

  .home-banner-title {
    font-size: 3rem;
  }
  .home-banner-text {
    font-size: 1rem;
    width: 75vw;
  }
  .module-activities {
    max-height: 0px;
  }
  .line {
    border-bottom: 1px solid rgba(var(--blue), 0.6);
  }
  .activity {
    height: 8.75rem;
  }
  .activity.short-text {
    height: 6.5rem;
  }
  .triangle {
    display: block;
  }
}

@media screen and (max-width: 750px) {
  .policy-banner{
    padding: 0 0.8rem;
  }
  .policy-banner,
  .policy-banner button {
    font-size: 10px;
    text-align: center;
  }
  .policy-banner button {
    padding: 0.2rem 0.5rem;
    margin-left: 0.5rem;
  }
}

@media screen and (max-width: 600px) {
  .home-banner {
    height: 17rem;
  }
  .home-banner-title {
    font-size: 1.75rem;
  }
  .home-banner-text {
    font-size: 0.75rem;
    width: 75vw;
  }
  .container {
    width: 85vw;
  }
  .activity {
    height: 10rem;
  }
  .activity.short-text {
    height: 7.5rem;
  }
}

@media screen and (max-width: 500px) {
  .activity {
    height: 11rem;
  }
}

@media screen and (max-width: 400px) {
  .module-activities {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
    column-gap: 2.5rem;
    row-gap: 1.5rem;
  }
  .module-activities.empty-grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 250px));
  }
  .module-title {
    font-size: 1rem;
    margin: 0 0 0 1rem;
  }
  .activity-title {
    font-size: 0.8rem;
  }
  .activity-description {
    font-size: 0.75rem;
    margin: 0.5rem 0;
    width: 220px;
  }
  .activity.short-text {
    height: 7rem;
  }
}

@media screen and (max-width: 360px) {
  .activity-description {
    width: 100%;
  }

  .module {
    padding: 1.5rem 0.5rem;
  }
}
